@{
    ViewData["Title"] = "home page";
}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod fugit necessitatibus laboriosam iure nulla blanditiis tempora? Sunt vero iure odit a in culpa doloremque, animi aspernatur, voluptate quasi alias reprehenderit?Lorem, ipsum.</p>okjl;lklklklk