html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
<<<<<<< HEAD

.admin-container {
    display: flex;
    flex-direction: row;
=======
.admin-container {
    display: flex;
    flex-direction: row-reverse; /* ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ï¿½ */
>>>>>>> 10ada26102c4a77c88de084d31a607f9cdc7d0c4
    min-height: 100vh;
}

.admin-sidebar {
    width: 250px;
<<<<<<< HEAD
    background-color: #343a40; /* ÎáÝíÉ ÓæÏÇÁ */
=======
    background-color: #000; /* ï¿½ï¿½ï¿½ï¿½ï¿½ ï¿½ï¿½ï¿½ï¿½ï¿½ */
>>>>>>> 10ada26102c4a77c88de084d31a607f9cdc7d0c4
    color: #fff;
    padding: 20px;
    min-height: 100vh;
    position: sticky;
    top: 0;

}

    .admin-sidebar .nav-link {
        color: #fff;
       
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
        transition: background 0.3s;
        padding: 0 20px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

        .admin-sidebar .nav-link:hover {
            background-color: #333;
            text-decoration: none;
        }
.sidebar-header {
    padding: 0 20px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
    .admin-sidebar .sidebar-header {
        margin-bottom: 30px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        color: #fff;
    }

.admin-main {
    flex-grow: 1;
    padding: 30px;
    background-color: #f8f9fa;
}
<<<<<<< HEAD

.navbar-custom {
    background-color: #cce5ff; /* ÃÒÑÞ ÝÇÊÍ */
}

    .navbar-custom .nav-link {
        color: #004085 !important; /* áæä ÃÒÑÞ ÛÇãÞ ááßáãÇÊ */
        margin-left: 15px; /* ãÓÇÝÉ Èíä ÇáßáãÇÊ */
        font-weight: 500;
    }

    .navbar-custom .btn {
        margin-left: 10px;
    }
.icon-orange {
    color: orange;
}

.icon-blue {
    color: royalblue;
}

.icon-green {
    color: seagreen;
}

.icon-purple {
    color: purple;
}

.icon-red {
    color: crimson;
}

/*>>>>>>> 21ff8666a08437e19037bacaa39d9108e1e1a721*/
.icon-gradient {
    background: linear-gradient(45deg, #007bff, #28a745, #ffc107);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
=======
>>>>>>> 10ada26102c4a77c88de084d31a607f9cdc7d0c4
