html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navbar-custom {
    background-color: #cce5ff; /* √“—ﬁ ›« Õ */
}

    .navbar-custom .nav-link {
        color: #004085 !important; /* ·Ê‰ √“—ﬁ €«„ﬁ ··ﬂ·„«  */
        margin-left: 15px; /* „”«›… »Ì‰ «·ﬂ·„«  */
        font-weight: 500;
    }

    .navbar-custom .btn {
        margin-left: 10px;
    }
