@model UserEditViewModel

@{
    ViewData["Title"] = "تعديل مستخدم";
}

<h2>تعديل مستخدم</h2>

<form asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
    </div>



        <div class="form-group">
                <label asp-for="UserType" class="control-label"></label>
                <select asp-for="UserType" class ="form-control" asp-items="Model.UserTypeList"></select>
            </div>

    <div class="form-group">
    <div class="form-check">
        <input asp-for="IsActive" class="form-check-input" type="checkbox" id="IsActiveCheckbox" />
        <label asp-for="IsActive" class="form-check-label" for="IsActiveCheckbox"></label>
    </div>
    <span asp-validation-for="IsActive" class="text-danger"></span>
</div>
    <button type="submit" class="btn btn-success">تحديث</button>
</form>
